Repository census-instrumentation/opencensus-java, pull requests merged in 2018-12, with the labels that each got.

#1626 Example: Fix Bazel Build.
  examples/WORKSPACE
Labels: build, cla: yes, continuous integration, examples

#1627 Exporter/Metrics/OcAgent: Start adding ocagent metrics exporter.
  CHANGELOG.md
  all/build.gradle
  build.gradle
  buildscripts/import-control.xml
  exporters/metrics/ocagent/README.md
  exporters/metrics/ocagent/build.gradle
  exporters/metrics/ocagent/src/main/java/io/opencensus/exporter/metrics/ocagent/OcAgentMetricsExporterConfiguration.java
  exporters/metrics/ocagent/src/main/java/io/opencensus/exporter/metrics/ocagent/package-info.java
  exporters/metrics/ocagent/src/test/java/io/opencensus/exporter/metrics/ocagent/OcAgentMetricsExporterConfigurationTest.java
  settings.gradle
Labels: cla: yes, exporters, metrics

#1631 Add ability to filter metrics we want to export
  CHANGELOG.md
  contrib/dropwizard/src/main/java/io/opencensus/contrib/dropwizard/DropWizardMetrics.java
  contrib/dropwizard/src/test/java/io/opencensus/contrib/dropwizard/DropWizardMetricsTest.java
Labels: cla: yes, contrib, metrics

#1630 Exporter/Metrics/OcAgent: Add export RPC handler and tests.
  exporters/metrics/ocagent/src/main/java/io/opencensus/exporter/metrics/ocagent/OcAgentMetricsServiceExportRpcHandler.java
  exporters/metrics/ocagent/src/test/java/io/opencensus/exporter/metrics/ocagent/FakeOcAgentMetricsServiceGrpcImpl.java
  exporters/metrics/ocagent/src/test/java/io/opencensus/exporter/metrics/ocagent/OcAgentMetricsServiceExportRpcHandlerTest.java
Labels: cla: yes, exporters, metrics

#1636 change since 0.18 to since 0.19 for generic http client/server.
  contrib/http_util/src/main/java/io/opencensus/contrib/http/AbstractHttpHandler.java
  contrib/http_util/src/main/java/io/opencensus/contrib/http/HttpClientHandler.java
  contrib/http_util/src/main/java/io/opencensus/contrib/http/HttpExtractor.java
  contrib/http_util/src/main/java/io/opencensus/contrib/http/HttpServerHandler.java
Labels: cla: yes, contrib, documentation

#1629 Exporter/Metrics/OcAgent: Add MetricsProtoUtils.
  exporters/metrics/ocagent/src/main/java/io/opencensus/exporter/metrics/ocagent/MetricsProtoUtils.java
  exporters/metrics/ocagent/src/main/java/io/opencensus/exporter/metrics/ocagent/OcAgentNodeUtils.java
  exporters/metrics/ocagent/src/test/java/io/opencensus/exporter/metrics/ocagent/MetricsProtoUtilsTests.java
Labels: cla: yes, exporters, metrics

#1634 Provide basic view set for GRPC metrics.
  contrib/grpc_metrics/src/main/java/io/opencensus/contrib/grpc/metrics/RpcViews.java
  contrib/grpc_metrics/src/test/java/io/opencensus/contrib/grpc/metrics/RpcViewsTest.java
  examples/src/main/java/io/opencensus/examples/grpc/helloworld/HelloWorldClient.java
  examples/src/main/java/io/opencensus/examples/grpc/helloworld/HelloWorldServer.java
Labels: cla: yes, contrib, gRPC

#1574 Exporter/OcAgent: Skeleton and workflow for worker thread.
  exporters/trace/ocagent/src/main/java/io/opencensus/exporter/trace/ocagent/OcAgentTraceServiceConnectionWorker.java
Labels: cla: yes, exporters, tracing

#1620 Add http stats collection for generic http client.
  contrib/http_util/src/main/java/io/opencensus/contrib/http/AbstractHttpHandler.java
  contrib/http_util/src/main/java/io/opencensus/contrib/http/HttpClientHandler.java
  contrib/http_util/src/main/java/io/opencensus/contrib/http/HttpRequestContext.java
  contrib/http_util/src/main/java/io/opencensus/contrib/http/HttpServerHandler.java
  contrib/http_util/src/test/java/io/opencensus/contrib/http/AbstractHttpHandlerTest.java
  contrib/http_util/src/test/java/io/opencensus/contrib/http/HttpClientHandlerTest.java
  contrib/http_util/src/test/java/io/opencensus/contrib/http/HttpRequestContextTest.java
Labels: cla: yes

#1639 Add Stats for generic http server.
  contrib/http_util/src/main/java/io/opencensus/contrib/http/AbstractHttpHandler.java
  contrib/http_util/src/main/java/io/opencensus/contrib/http/HttpServerHandler.java
  contrib/http_util/src/test/java/io/opencensus/contrib/http/HttpServerHandlerTest.java
Labels: cla: yes

#1644 Fixing bazel build.
  buildscripts/travis_script
Labels: cla: yes

#1642 Add stats for jetty http client.
  all/build.gradle
  contrib/http_jetty_client/src/main/java/io/opencensus/contrib/http/jetty/client/HttpRequestListener.java
  contrib/http_jetty_client/src/main/java/io/opencensus/contrib/http/jetty/client/OcJettyHttpClient.java
  contrib/http_jetty_client/src/test/java/io/opencensus/contrib/http/jetty/client/HttpRequestListenerTest.java
  settings.gradle
Labels: cla: yes
