Repository census-instrumentation/opencensus-java, pull requests merged in 2018-10, with the labels that each got.

#1478 Uptade since tag for the entire metrics package.
  api/src/main/java/io/opencensus/metrics/Distribution.java
  api/src/main/java/io/opencensus/metrics/LabelKey.java
  api/src/main/java/io/opencensus/metrics/LabelValue.java
  api/src/main/java/io/opencensus/metrics/Metric.java
  api/src/main/java/io/opencensus/metrics/MetricDescriptor.java
  api/src/main/java/io/opencensus/metrics/MetricProducer.java
  api/src/main/java/io/opencensus/metrics/Metrics.java
  api/src/main/java/io/opencensus/metrics/MetricsComponent.java
  api/src/main/java/io/opencensus/metrics/Point.java
  api/src/main/java/io/opencensus/metrics/TimeSeries.java
  api/src/main/java/io/opencensus/metrics/Value.java
  api/src/main/java/io/opencensus/metrics/export/ExportComponent.java
  api/src/main/java/io/opencensus/metrics/export/MetricProducerManager.java
Labels: cla: yes, documentation, metrics

#1479 Make metrics compatible with the current proto definition.
  api/src/main/java/io/opencensus/metrics/Distribution.java
  api/src/main/java/io/opencensus/metrics/Metric.java
  api/src/main/java/io/opencensus/metrics/MetricDescriptor.java
  api/src/main/java/io/opencensus/metrics/Summary.java
  api/src/main/java/io/opencensus/metrics/Value.java
  api/src/test/java/io/opencensus/metrics/DistributionTest.java
  api/src/test/java/io/opencensus/metrics/PointTest.java
  api/src/test/java/io/opencensus/metrics/SummaryTest.java
  api/src/test/java/io/opencensus/metrics/ValueTest.java
  impl_core/src/main/java/io/opencensus/implcore/stats/MutableAggregation.java
Labels: API, cla: yes, metrics

#1480 Mode classes for metrics data model in the exporter package.
  api/src/main/java/io/opencensus/metrics/MetricRegistry.java
  api/src/main/java/io/opencensus/metrics/export/Distribution.java
  api/src/main/java/io/opencensus/metrics/export/Metric.java
  api/src/main/java/io/opencensus/metrics/export/MetricDescriptor.java
  api/src/main/java/io/opencensus/metrics/export/MetricProducer.java
  api/src/main/java/io/opencensus/metrics/export/MetricProducerManager.java
  api/src/main/java/io/opencensus/metrics/export/Point.java
  api/src/main/java/io/opencensus/metrics/export/Summary.java
  api/src/main/java/io/opencensus/metrics/export/TimeSeries.java
  api/src/main/java/io/opencensus/metrics/export/Value.java
  api/src/test/java/io/opencensus/metrics/export/DistributionTest.java
  api/src/test/java/io/opencensus/metrics/export/MetricDescriptorTest.java
  api/src/test/java/io/opencensus/metrics/export/MetricProducerManagerTest.java
  api/src/test/java/io/opencensus/metrics/export/MetricTest.java
  api/src/test/java/io/opencensus/metrics/export/PointTest.java
  api/src/test/java/io/opencensus/metrics/export/SummaryTest.java
  api/src/test/java/io/opencensus/metrics/export/TimeSeriesTest.java
  api/src/test/java/io/opencensus/metrics/export/ValueTest.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/Gauge.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/MetricRegistryImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/export/MetricProducerManagerImpl.java
  impl_core/src/main/java/io/opencensus/implcore/stats/MeasureToViewMap.java
  impl_core/src/main/java/io/opencensus/implcore/stats/MetricProducerImpl.java
  impl_core/src/main/java/io/opencensus/implcore/stats/MetricUtils.java
  impl_core/src/main/java/io/opencensus/implcore/stats/MutableAggregation.java
  impl_core/src/main/java/io/opencensus/implcore/stats/MutableViewData.java
  impl_core/src/main/java/io/opencensus/implcore/stats/StatsComponentImplBase.java
  impl_core/src/main/java/io/opencensus/implcore/stats/StatsManager.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/GaugeTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/MetricRegistryImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/export/MetricProducerManagerImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/stats/MetricUtilsTest.java
  impl_core/src/test/java/io/opencensus/implcore/stats/MutableAggregationTest.java
Labels: cla: yes

#1481 Testing: Add a fake implementation of TraceService.
  build.gradle
  buildscripts/import-control.xml
  exporters/trace/ocagent/build.gradle
  exporters/trace/ocagent/src/test/java/io/opencensus/exporter/trace/ocagent/FakeOcAgentTraceServiceGrpcImpl.java
  exporters/trace/ocagent/src/test/java/io/opencensus/exporter/trace/ocagent/FakeOcAgentTraceServiceGrpcImplTest.java
Labels: cla: yes, exporters, tracing

#1485 Metrics: Copy TimeSeries list when creating a Metric.
  api/src/main/java/io/opencensus/metrics/export/Metric.java
  api/src/test/java/io/opencensus/metrics/export/MetricTest.java
Labels: bug, cla: yes, metrics

#1486 Metrics/TimeSeries: Add createWithOnePoint method to accept only one …
  api/src/main/java/io/opencensus/metrics/export/TimeSeries.java
  api/src/test/java/io/opencensus/metrics/export/TimeSeriesTest.java
  contrib/dropwizard/src/main/java/io/opencensus/contrib/dropwizard/DropWizardMetrics.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/Gauge.java
  impl_core/src/main/java/io/opencensus/implcore/stats/MutableViewData.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/GaugeTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/MetricRegistryImplTest.java
Labels: cla: yes, enhancement, metrics

#1487 Exporter/OcAgent: Add options on retry interval and config.
  exporters/trace/ocagent/src/main/java/io/opencensus/exporter/trace/ocagent/OcAgentTraceExporter.java
  exporters/trace/ocagent/src/main/java/io/opencensus/exporter/trace/ocagent/OcAgentTraceExporterConfiguration.java
  exporters/trace/ocagent/src/main/java/io/opencensus/exporter/trace/ocagent/OcAgentTraceExporterHandler.java
  exporters/trace/ocagent/src/test/java/io/opencensus/exporter/trace/ocagent/OcAgentTraceExporterConfigurationTest.java
Labels: cla: yes, exporters, tracing

#1488 Exporter/OcAgent: Add methods for getting and applying config.
  exporters/trace/ocagent/src/main/java/io/opencensus/exporter/trace/ocagent/TraceProtoUtils.java
  exporters/trace/ocagent/src/test/java/io/opencensus/exporter/trace/ocagent/TraceProtoUtilsTest.java
Labels: cla: yes, exporters, tracing

#1484 Add BucketOptions for DistributionValue
  api/src/main/java/io/opencensus/metrics/export/Distribution.java
  api/src/test/java/io/opencensus/metrics/export/DistributionTest.java
  api/src/test/java/io/opencensus/metrics/export/PointTest.java
  api/src/test/java/io/opencensus/metrics/export/ValueTest.java
  impl_core/src/main/java/io/opencensus/implcore/stats/MutableAggregation.java
  impl_core/src/test/java/io/opencensus/implcore/stats/MutableAggregationTest.java
Labels: API, cla: yes, metrics

#1493 contrib/DropWizardMetrics: Exclude Meter rate measures
  contrib/dropwizard/README.md
  contrib/dropwizard/src/main/java/io/opencensus/contrib/dropwizard/DropWizardMetrics.java
  contrib/dropwizard/src/test/java/io/opencensus/contrib/dropwizard/DropWizardMetricsTest.java
Labels: cla: yes, contrib

#1489 Gauge API : Add LongGauge Support (Part1)
  api/src/main/java/io/opencensus/metrics/LongGauge.java
  api/src/test/java/io/opencensus/metrics/LongGaugeTest.java
  impl_core/src/main/java/io/opencensus/implcore/internal/Utils.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/LongGaugeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/Meter.java
  impl_core/src/test/java/io/opencensus/implcore/internal/UtilsTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/LongGaugeImplTest.java
Labels: API, cla: yes

#1495 Metrics/Metric: Add a version of create that accepts only one timeseries.
  api/src/main/java/io/opencensus/metrics/export/Metric.java
  api/src/test/java/io/opencensus/metrics/export/MetricTest.java
  contrib/dropwizard/src/main/java/io/opencensus/contrib/dropwizard/DropWizardMetrics.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/Gauge.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/LongGaugeImpl.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/GaugeTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/LongGaugeImplTest.java
Labels: cla: yes, metrics

#1498 Plugs-in the LongGauge into the registry
  api/src/main/java/io/opencensus/metrics/DoubleGauge.java
  api/src/main/java/io/opencensus/metrics/LongGauge.java
  api/src/main/java/io/opencensus/metrics/MetricRegistry.java
  api/src/test/java/io/opencensus/metrics/MetricRegistryTest.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/MetricRegistryImpl.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/MetricRegistryImplTest.java
Labels: API, cla: yes, metrics

#1503 Plugs-in the DoubleGauge into the registry
  api/src/main/java/io/opencensus/metrics/DoubleGauge.java
  api/src/main/java/io/opencensus/metrics/MetricRegistry.java
  api/src/test/java/io/opencensus/metrics/MetricRegistryTest.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/MetricRegistryImpl.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/MetricRegistryImplTest.java
Labels: cla: yes

#1497 Add support for DerivedLongGauge
  api/src/main/java/io/opencensus/common/ToLongFunction.java
  api/src/main/java/io/opencensus/metrics/DerivedLongGauge.java
  api/src/main/java/io/opencensus/metrics/LongGauge.java
  api/src/test/java/io/opencensus/metrics/DerivedLongGaugeTest.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/DerivedLongGaugeImpl.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/DerivedLongGaugeImplTest.java
Labels: cla: yes, metrics

#1505 Plugs-in the DerivedLongGauge and DerivedDoubleGauge into the registry
  api/src/main/java/io/opencensus/metrics/DerivedDoubleGauge.java
  api/src/main/java/io/opencensus/metrics/DerivedLongGauge.java
  api/src/main/java/io/opencensus/metrics/MetricRegistry.java
  api/src/test/java/io/opencensus/metrics/MetricRegistryTest.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/MetricRegistryImpl.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/MetricRegistryImplTest.java
Labels: cla: yes

#1507 Cleanup Exception messages
  api/src/main/java/io/opencensus/metrics/DerivedDoubleGauge.java
  api/src/main/java/io/opencensus/metrics/DerivedLongGauge.java
  api/src/main/java/io/opencensus/metrics/DoubleGauge.java
  api/src/main/java/io/opencensus/metrics/LongGauge.java
  api/src/main/java/io/opencensus/metrics/MetricRegistry.java
  api/src/main/java/io/opencensus/metrics/export/MetricDescriptor.java
  api/src/main/java/io/opencensus/metrics/export/Summary.java
  api/src/main/java/io/opencensus/metrics/export/TimeSeries.java
  api/src/test/java/io/opencensus/metrics/DerivedDoubleGaugeTest.java
  api/src/test/java/io/opencensus/metrics/DerivedLongGaugeTest.java
  api/src/test/java/io/opencensus/metrics/DoubleGaugeTest.java
  api/src/test/java/io/opencensus/metrics/LongGaugeTest.java
  api/src/test/java/io/opencensus/metrics/MetricRegistryTest.java
  api/src/test/java/io/opencensus/metrics/export/SummaryTest.java
  contrib/dropwizard/src/main/java/io/opencensus/contrib/dropwizard/DropWizardMetrics.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/DerivedDoubleGaugeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/DerivedLongGaugeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/DoubleGaugeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/LongGaugeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/MetricRegistryImpl.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/DerivedDoubleGaugeImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/DerivedLongGaugeImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/DoubleGaugeImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/LongGaugeImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/MetricRegistryImplTest.java
Labels: cla: yes

#1513 TimeSeries/Create: Avoid re-evaluate the labelValues all the time
  api/src/main/java/io/opencensus/metrics/export/TimeSeries.java
  api/src/test/java/io/opencensus/metrics/export/TimeSeriesTest.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/DerivedDoubleGaugeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/DerivedLongGaugeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/DoubleGaugeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/LongGaugeImpl.java
Labels: cla: yes, enhancement

#1501 Stats/Stackdriver: export data using metrics API
  buildscripts/import-control.xml
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/StackdriverExportUtils.java
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/StackdriverExporterWorker.java
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/StackdriverStatsExporter.java
  exporters/stats/stackdriver/src/test/java/io/opencensus/exporter/stats/stackdriver/StackdriverExportUtilsTest.java
  exporters/stats/stackdriver/src/test/java/io/opencensus/exporter/stats/stackdriver/StackdriverExporterWorkerTest.java
Labels: cla: yes, exporters

#1509 Stats/Prometheus: export data using metrics API
  buildscripts/import-control.xml
  exporters/stats/prometheus/src/main/java/io/opencensus/exporter/stats/prometheus/PrometheusExportUtils.java
  exporters/stats/prometheus/src/main/java/io/opencensus/exporter/stats/prometheus/PrometheusStatsCollector.java
  exporters/stats/prometheus/src/test/java/io/opencensus/exporter/stats/prometheus/PrometheusExportUtilsTest.java
  exporters/stats/prometheus/src/test/java/io/opencensus/exporter/stats/prometheus/PrometheusStatsCollectorTest.java
Labels: cla: yes, exporters

#1519 Update CHANGELOG
  CHANGELOG.md
Labels: cla: yes

#1521 Exporter/Trace/Stackdriver: Set SameProcessAsParentSpan.
  exporters/trace/stackdriver/src/main/java/io/opencensus/exporter/trace/stackdriver/StackdriverV2ExporterHandler.java
  exporters/trace/stackdriver/src/test/java/io/opencensus/exporter/trace/stackdriver/StackdriverV2ExporterHandlerProtoTest.java
Labels: bug, cla: yes, exporters, tracing

#1524 Update Cloud GA and Beta versions.
  build.gradle
Labels: build, cla: yes

#1523 Gradle: Add plug-in net.ltgt.apt-idea.
  build.gradle
Labels: build, cla: yes

#1525 Exporter/Stats/Stackdriver: Add 0 count for underflow/first bucket
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/StackdriverExportUtils.java
  exporters/stats/stackdriver/src/test/java/io/opencensus/exporter/stats/stackdriver/StackdriverExportUtilsTest.java
Labels: cla: yes

#1526 Update disruptor to fix a race condition.
  build.gradle
Labels: cla: yes

#1520 Exporter/Stats/SignalFx: export data using metrics API
  buildscripts/import-control.xml
  exporters/stats/signalfx/src/main/java/io/opencensus/exporter/stats/signalfx/SignalFxSessionAdaptor.java
  exporters/stats/signalfx/src/main/java/io/opencensus/exporter/stats/signalfx/SignalFxStatsExporter.java
  exporters/stats/signalfx/src/main/java/io/opencensus/exporter/stats/signalfx/SignalFxStatsExporterWorkerThread.java
  exporters/stats/signalfx/src/test/java/io/opencensus/exporter/stats/signalfx/SignalFxSessionAdaptorTest.java
  exporters/stats/signalfx/src/test/java/io/opencensus/exporter/stats/signalfx/SignalFxStatsExporterWorkerThreadTest.java
Labels: cla: yes, exporters, metrics

#1527 Example: Update dependency versions.
  examples/build.gradle
  examples/pom.xml
Labels: build, cla: yes, examples
