Repository census-instrumentation/opencensus-java, pull requests merged in 2018-07, with the labels that each got.

#1292 Update CHANGELOG about Exemplar.
  CHANGELOG.md
Labels: cla: yes, documentation

#1299 Mention that SampledSpanStore.getRegisteredSpanNamesForCollection is for testing.
  api/src/main/java/io/opencensus/internal/PublicForTesting.java
  api/src/main/java/io/opencensus/trace/export/SampledSpanStore.java
Labels: cla: yes, tracing

#1291 Metrics: Add MetricDescriptor.
  metrics/src/main/java/io/opencensus/metrics/MetricDescriptor.java
  metrics/src/test/java/io/opencensus/metrics/MetricDescriptorTest.java
  metrics/src/test/java/io/opencensus/metrics/TimeSeriesTest.java
Labels: API, cla: yes, metrics

#1295 Rpcz, Statsz, Tracez, and Traceconfigz page styling modifications
  contrib/zpages/screenshots/rpcz-example.png
  contrib/zpages/screenshots/statsz-example-1.png
  contrib/zpages/screenshots/statsz-example-2.png
  contrib/zpages/screenshots/traceconfigz-example.png
  contrib/zpages/screenshots/tracez-example.png
  contrib/zpages/src/main/java/io/opencensus/contrib/zpages/RpczZPageHandler.java
  contrib/zpages/src/main/java/io/opencensus/contrib/zpages/StatszZPageHandler.java
  contrib/zpages/src/main/java/io/opencensus/contrib/zpages/TraceConfigzZPageHandler.java
  contrib/zpages/src/main/java/io/opencensus/contrib/zpages/TracezZPageHandler.java
Labels: cla: yes, zpages

#1301 Add ZPage updates to CHANGELOG.
  CHANGELOG.md
Labels: cla: yes, documentation, zpages

#1302 Add specification on Bazel build in README.
  README.md
Labels: cla: yes, documentation

#1303 Checker Framework: 2.5.2 -> 2.5.3
  build.gradle
Labels: cla: yes, static analysis

#1305 Update and add imports to examples in readme.
  README.md
  examples/src/main/java/io/opencensus/examples/helloworld/QuickStart.java
Labels: cla: yes, documentation

#1297 Contrib: Add an exemplar_util artifact to help record special exemplars.
  CHANGELOG.md
  all/build.gradle
  build.gradle
  buildscripts/import-control.xml
  contrib/exemplar_util/README.md
  contrib/exemplar_util/build.gradle
  contrib/exemplar_util/src/main/java/io/opencensus/contrib/exemplar/util/ExemplarUtils.java
  contrib/exemplar_util/src/test/java/io/opencensus/contrib/exemplar/util/ExemplarUtilsTest.java
  settings.gradle
Labels: API, cla: yes, stats

#1308 Add exemplar_util/README to releasing note.
  RELEASING.md
Labels: cla: yes, documentation

#1309 Export cumulative buckets for Prometheus
  exporters/stats/prometheus/src/main/java/io/opencensus/exporter/stats/prometheus/PrometheusExportUtils.java
  exporters/stats/prometheus/src/test/java/io/opencensus/exporter/stats/prometheus/PrometheusExportUtilsTest.java
  exporters/stats/prometheus/src/test/java/io/opencensus/exporter/stats/prometheus/PrometheusStatsCollectorTest.java
Labels: cla: yes, exporters, stats

#1306 Metrics: Move TimeSeriesCumulative and TimeSeriesGauge to top level. Hide TimeSeries.
  metrics/src/main/java/io/opencensus/metrics/TimeSeries.java
  metrics/src/main/java/io/opencensus/metrics/TimeSeriesCumulative.java
  metrics/src/main/java/io/opencensus/metrics/TimeSeriesGauge.java
  metrics/src/test/java/io/opencensus/metrics/TimeSeriesCumulativeTest.java
  metrics/src/test/java/io/opencensus/metrics/TimeSeriesGaugeTest.java
Labels: API, cla: yes, metrics, refactoring

#1310 Metrics: Add TimeSeriesList.
  metrics/src/main/java/io/opencensus/metrics/TimeSeriesList.java
  metrics/src/test/java/io/opencensus/metrics/TimeSeriesListTest.java
Labels: API, cla: yes, metrics

#1311 Update import control on metrics.
  buildscripts/import-control.xml
Labels: build, cla: yes

#1312 Update Cloud Beta and GA version in build.gradle.
  build.gradle
Labels: build, cla: yes

#1313 Metrics: Add Metric.
  metrics/src/main/java/io/opencensus/metrics/Metric.java
  metrics/src/test/java/io/opencensus/metrics/MetricTest.java
Labels: API, cla: yes, metrics

#1315 Tracing: Reduce default limit on Links to 32.
  CHANGELOG.md
  api/src/main/java/io/opencensus/trace/config/TraceParams.java
  api/src/test/java/io/opencensus/trace/config/TraceParamsTest.java
Labels: cla: yes, tracing

#1318 Revert "Temporarily disable example-bazel build for Travis CI. (#1229)"
  .travis.yml
Labels: cla: yes, continuous integration

#1321 Metrics: Add Exemplar to Distribution.
  metrics/src/main/java/io/opencensus/metrics/Distribution.java
  metrics/src/test/java/io/opencensus/metrics/DistributionTest.java
  metrics/src/test/java/io/opencensus/metrics/PointTest.java
  metrics/src/test/java/io/opencensus/metrics/ValueTest.java
Labels: API, cla: yes, metrics

#1326 Update google java formatter tool and plugin version.
  build.gradle
Labels: cla: yes

#1329 Add opencensus-metrics to all/build.gradle.
  all/build.gradle
Labels: build, cla: yes

#1325 Update 'Add dependencies' section in README.
  README.md
Labels: cla: yes, documentation, enhancement

#1332 Remove copy of the internal.Utils.
  api/src/main/java/io/opencensus/internal/Utils.java
  metrics/src/main/java/io/opencensus/metrics/Distribution.java
  metrics/src/main/java/io/opencensus/metrics/Metric.java
  metrics/src/main/java/io/opencensus/metrics/MetricDescriptor.java
  metrics/src/main/java/io/opencensus/metrics/TimeSeriesCumulative.java
  metrics/src/main/java/io/opencensus/metrics/TimeSeriesGauge.java
  metrics/src/main/java/io/opencensus/metrics/TimeSeriesList.java
  metrics/src/main/java/io/opencensus/metrics/Utils.java
Labels: cla: yes

#1328 Update dependencies.
  build.gradle
Labels: build, cla: yes

#1334 Zipkin exporter: Use the correct attribute value.
  exporters/trace/zipkin/src/main/java/io/opencensus/exporter/trace/zipkin/ZipkinExporterHandler.java
  exporters/trace/zipkin/src/test/java/io/opencensus/exporter/trace/zipkin/ZipkinExporterHandlerTest.java
Labels: cla: yes, enhancement, exporters, tracing

#1337 Metrics: Remove Range from Distribution.
  metrics/src/main/java/io/opencensus/metrics/Distribution.java
  metrics/src/test/java/io/opencensus/metrics/DistributionTest.java
  metrics/src/test/java/io/opencensus/metrics/PointTest.java
  metrics/src/test/java/io/opencensus/metrics/ValueTest.java
Labels: API, cla: yes, metrics

#1336 Extract constant functions when used in match to reduce number of allocations.
  contrib/zpages/src/main/java/io/opencensus/contrib/zpages/TracezZPageHandler.java
  exporters/stats/prometheus/src/main/java/io/opencensus/exporter/stats/prometheus/PrometheusExportUtils.java
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/StackdriverExportUtils.java
  exporters/trace/instana/src/main/java/io/opencensus/exporter/trace/instana/InstanaExporterHandler.java
  exporters/trace/stackdriver/src/main/java/io/opencensus/exporter/trace/stackdriver/StackdriverV2ExporterHandler.java
  exporters/trace/zipkin/src/main/java/io/opencensus/exporter/trace/zipkin/ZipkinExporterHandler.java
Labels: cla: yes

#1314 added support for spring annotations
  CHANGELOG.md
  RELEASING.md
  all/build.gradle
  build.gradle
  buildscripts/import-control.xml
  contrib/spring/README.md
  contrib/spring/build.gradle
  contrib/spring/src/main/java/io/opencensus/contrib/spring/aop/CensusSpringAspect.java
  contrib/spring/src/main/java/io/opencensus/contrib/spring/aop/CensusSpringSqlAspect.java
  contrib/spring/src/main/java/io/opencensus/contrib/spring/aop/Handler.java
  contrib/spring/src/main/java/io/opencensus/contrib/spring/aop/Traced.java
  contrib/spring/src/test/java/io/opencensus/contrib/spring/aop/CensusSpringAspectTest.java
  contrib/spring/src/test/java/io/opencensus/contrib/spring/aop/Sample.java
  contrib/spring/src/test/resources/spring.xml
  settings.gradle
Labels: cla: yes, tracing

#1339 Add links to google-cloud-logging log correlation examples.
  contrib/log_correlation/stackdriver/README.md
Labels: cla: yes, contrib, documentation

#1340 Delete a TODO fixed by #1339.
  contrib/log_correlation/stackdriver/README.md
Labels: cla: yes, contrib, documentation

#1341 Zpages external CSS added and gradle modified to include this resource
  contrib/zpages/build.gradle
  contrib/zpages/src/resources/style.css
Labels: cla: yes

#1343 Cleanup: Move static util methods to util class.
  impl_core/src/main/java/io/opencensus/implcore/stats/IntervalBucket.java
  impl_core/src/main/java/io/opencensus/implcore/stats/MeasureToViewMap.java
  impl_core/src/main/java/io/opencensus/implcore/stats/MutableViewData.java
  impl_core/src/main/java/io/opencensus/implcore/stats/RecordUtils.java
  impl_core/src/test/java/io/opencensus/implcore/stats/MutableViewDataTest.java
  impl_core/src/test/java/io/opencensus/implcore/stats/RecordUtilsTest.java
  impl_core/src/test/java/io/opencensus/implcore/stats/StatsRecorderImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/stats/StatsTestUtil.java
  impl_core/src/test/java/io/opencensus/implcore/stats/ViewManagerImplTest.java
Labels: cla: yes, refactoring, stats

#1335 Split findBugs annotations and jsr305 versions.
  build.gradle
Labels: build, cla: yes

#1345 Update import control.
  buildscripts/import-control.xml
Labels: build, cla: yes
