Repository census-instrumentation/opencensus-java, pull requests merged in 2019-04, with the labels that each got.

#1833 Trace Benchmarks
  benchmarks/src/jmh/java/io/opencensus/benchmarks/trace/BasicDataBenchmark.java
  benchmarks/src/jmh/java/io/opencensus/benchmarks/trace/BasicOperationsBenchmark.java
  benchmarks/src/jmh/java/io/opencensus/benchmarks/trace/BenchmarksUtil.java
  benchmarks/src/jmh/java/io/opencensus/benchmarks/trace/SpanOperationsBenchmark.java
Labels: cla: yes

#1836 Checker Framework: 2.7.0 -> 2.8.0
  build.gradle
Labels: cla: yes

#1834 Stats Benchmarks
  benchmarks/src/jmh/java/io/opencensus/benchmarks/stats/RecordBatchedBenchmark.java
  benchmarks/src/jmh/java/io/opencensus/benchmarks/stats/RecordDifferentTagValuesBenchmark.java
  benchmarks/src/jmh/java/io/opencensus/benchmarks/stats/RecordMultipleViewsBenchmark.java
  benchmarks/src/jmh/java/io/opencensus/benchmarks/stats/StatsBenchmarksUtil.java
  benchmarks/src/jmh/java/io/opencensus/benchmarks/tags/NestedTagContextCreationBenchmark.java
  benchmarks/src/jmh/java/io/opencensus/benchmarks/tags/TagContextBenchmark.java
  benchmarks/src/jmh/java/io/opencensus/benchmarks/tags/TagsBenchmark.java
  benchmarks/src/jmh/java/io/opencensus/benchmarks/tags/TagsBenchmarksUtil.java
Labels: cla: yes

#1838 Fixes typo in attribute values for trace benchmarks.
  benchmarks/src/jmh/java/io/opencensus/benchmarks/trace/BasicDataBenchmark.java
  benchmarks/src/jmh/java/io/opencensus/benchmarks/trace/SpanOperationsBenchmark.java
Labels: cla: yes

#1839 Adds note to releasing about not squashing commit containing the rele…
  RELEASING.md
Labels: cla: yes

#1825 Prefer library version for gRPC instead of shaded.
  build.gradle
  contrib/log_correlation/stackdriver/build.gradle
  exporters/stats/stackdriver/build.gradle
  exporters/trace/stackdriver/build.gradle
Labels: build, cla: yes, gRPC

#1800 Tags: Add HTTP text serializer API.
  CHANGELOG.md
  api/src/main/java/io/opencensus/tags/NoopTags.java
  api/src/main/java/io/opencensus/tags/propagation/TagContextTextFormat.java
  api/src/main/java/io/opencensus/tags/propagation/TagPropagationComponent.java
  api/src/test/java/io/opencensus/tags/NoopTagsTest.java
  impl_core/src/main/java/io/opencensus/implcore/tags/propagation/TagPropagationComponentImpl.java
Labels: API, GA-Effort, cla: yes, http, tags

#1842 Metrics: Allow to set constant labels for Gauge APIs.
  CHANGELOG.md
  api/src/main/java/io/opencensus/metrics/MetricOptions.java
  api/src/test/java/io/opencensus/metrics/MetricRegistryTest.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/DerivedDoubleGaugeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/DerivedLongGaugeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/DoubleGaugeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/LongGaugeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/MetricRegistryImpl.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/DerivedDoubleGaugeImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/DerivedLongGaugeImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/DoubleGaugeImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/LongGaugeImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/MetricRegistryImplTest.java
Labels: API, cla: yes, metrics

#1799 Use ThriftSender in JaegerExporter
  exporters/trace/jaeger/src/main/java/io/opencensus/exporter/trace/jaeger/JaegerExporterHandler.java
  exporters/trace/jaeger/src/main/java/io/opencensus/exporter/trace/jaeger/JaegerTraceExporter.java
Labels: cla: yes, exporters, tracing

#1845 Exporter/Stackdriver: Allow to override the opencensus_task label.
  CHANGELOG.md
  exporters/stats/stackdriver/README.md
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/CreateMetricDescriptorExporter.java
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/CreateTimeSeriesExporter.java
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/StackdriverExportUtils.java
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/StackdriverStatsConfiguration.java
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/StackdriverStatsExporter.java
  exporters/stats/stackdriver/src/test/java/io/opencensus/exporter/stats/stackdriver/CreateMetricDescriptorExporterTest.java
  exporters/stats/stackdriver/src/test/java/io/opencensus/exporter/stats/stackdriver/CreateTimeSeriesExporterTest.java
  exporters/stats/stackdriver/src/test/java/io/opencensus/exporter/stats/stackdriver/StackdriverExportUtilsTest.java
  exporters/stats/stackdriver/src/test/java/io/opencensus/exporter/stats/stackdriver/StackdriverStatsConfigurationTest.java
Labels: cla: yes, enhancement, exporters, metrics

#1846 Exporter/Stackdriver: Fail fast on invalid project ID.
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/StackdriverStatsConfiguration.java
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/StackdriverStatsExporter.java
  exporters/stats/stackdriver/src/test/java/io/opencensus/exporter/stats/stackdriver/StackdriverStatsConfigurationTest.java
  exporters/stats/stackdriver/src/test/java/io/opencensus/exporter/stats/stackdriver/StackdriverStatsExporterTest.java
  exporters/trace/stackdriver/src/main/java/io/opencensus/exporter/trace/stackdriver/StackdriverTraceConfiguration.java
  exporters/trace/stackdriver/src/main/java/io/opencensus/exporter/trace/stackdriver/StackdriverTraceExporter.java
  exporters/trace/stackdriver/src/main/java/io/opencensus/exporter/trace/stackdriver/StackdriverV2ExporterHandler.java
  exporters/trace/stackdriver/src/test/java/io/opencensus/exporter/trace/stackdriver/StackdriverTraceConfigurationTest.java
Labels: cla: yes, enhancement, exporters, metrics, static analysis

#1847 update jetty client and server example to use updated api.
  examples/src/main/java/io/opencensus/examples/http/jetty/client/HelloWorldClient.java
  examples/src/main/java/io/opencensus/examples/http/jetty/server/HelloWorldServer.java
Labels: cla: yes

#1850 Exporter/Prometheus: Allow to set custom namespace.
  CHANGELOG.md
  exporters/stats/prometheus/src/main/java/io/opencensus/exporter/stats/prometheus/PrometheusExportUtils.java
  exporters/stats/prometheus/src/main/java/io/opencensus/exporter/stats/prometheus/PrometheusStatsCollector.java
  exporters/stats/prometheus/src/main/java/io/opencensus/exporter/stats/prometheus/PrometheusStatsConfiguration.java
  exporters/stats/prometheus/src/test/java/io/opencensus/exporter/stats/prometheus/PrometheusExportUtilsTest.java
  exporters/stats/prometheus/src/test/java/io/opencensus/exporter/stats/prometheus/PrometheusStatsCollectorTest.java
Labels: cla: yes, enhancement, exporters, stats

#1848 Metrics: Add Cumulative APIs.
  CHANGELOG.md
  api/src/main/java/io/opencensus/metrics/DerivedDoubleCumulative.java
  api/src/main/java/io/opencensus/metrics/DerivedLongCumulative.java
  api/src/main/java/io/opencensus/metrics/DoubleCumulative.java
  api/src/main/java/io/opencensus/metrics/LongCumulative.java
  api/src/main/java/io/opencensus/metrics/MetricRegistry.java
  api/src/test/java/io/opencensus/metrics/DerivedDoubleCumulativeTest.java
  api/src/test/java/io/opencensus/metrics/DerivedLongCumulativeTest.java
  api/src/test/java/io/opencensus/metrics/DoubleCumulativeTest.java
  api/src/test/java/io/opencensus/metrics/LongCumulativeTest.java
  api/src/test/java/io/opencensus/metrics/MetricRegistryTest.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/MetricRegistryImpl.java
Labels: API, GA-Effort, cla: yes, metrics

#1851 Tags: Add TagContextBuilder.putLocal().
  CHANGELOG.md
  api/src/main/java/io/opencensus/tags/TagContextBuilder.java
  impl_core/src/test/java/io/opencensus/implcore/tags/TagMapImplTest.java
Labels: API, cla: yes, enhancement, tags

#1852 Tags: Add TagContextBuilder.putPropagating().
  CHANGELOG.md
  api/src/main/java/io/opencensus/tags/TagContextBuilder.java
  impl_core/src/test/java/io/opencensus/implcore/tags/TagMapImplTest.java
Labels: API, cla: yes, enhancement, tags

#1810 Tags: Implementation of w3c correlation context format.
  impl_core/src/main/java/io/opencensus/implcore/tags/propagation/BinarySerializationUtils.java
  impl_core/src/main/java/io/opencensus/implcore/tags/propagation/CorrelationContextFormat.java
  impl_core/src/main/java/io/opencensus/implcore/tags/propagation/TagContextBinarySerializerImpl.java
  impl_core/src/main/java/io/opencensus/implcore/tags/propagation/TagPropagationComponentImpl.java
  impl_core/src/test/java/io/opencensus/implcore/tags/propagation/CorrelationContextFormatTest.java
  impl_core/src/test/java/io/opencensus/implcore/tags/propagation/TagContextBinarySerializerImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/tags/propagation/TagContextDeserializationTest.java
  impl_core/src/test/java/io/opencensus/implcore/tags/propagation/TagContextRoundtripTest.java
  impl_core/src/test/java/io/opencensus/implcore/tags/propagation/TagContextSerializationTest.java
Labels: cla: yes, http, tags

#1853 Metrics: Remove Set from Cumulative.
  api/src/main/java/io/opencensus/metrics/DoubleCumulative.java
  api/src/main/java/io/opencensus/metrics/LongCumulative.java
Labels: API, cla: yes, metrics

#1854 Stats: Map deprecated RPC tags when record against new tags.
  impl_core/src/main/java/io/opencensus/implcore/stats/RecordUtils.java
  impl_core/src/test/java/io/opencensus/implcore/stats/RecordUtilsTest.java
  impl_core/src/test/java/io/opencensus/implcore/stats/StatsRecorderImplTest.java
Labels: cla: yes, gRPC, stats, tags, tech debt

#1855 Update static GCP metadata URL
  contrib/resource_util/src/main/java/io/opencensus/contrib/resource/util/GcpMetadataConfig.java
Labels: cla: yes

#1859 Examples: Upgrade Jetty version.
  examples/build.gradle
  examples/pom.xml
Labels: build, cla: yes, examples

#1860 Updates issues template to differentiate bugs from feature requests and add appropriate labels.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: cla: yes

#1861 Fixes typo in feature request.
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: cla: yes

#1862 Exporter/Stackdriver: Fix a few flaky tests.
  exporters/stats/stackdriver/src/test/java/io/opencensus/exporter/stats/stackdriver/StackdriverStatsConfigurationTest.java
Labels: cla: yes, exporters, tests

#1856 Metrics: Implementation of Cumulative APIs.
  impl_core/src/main/java/io/opencensus/implcore/metrics/DerivedDoubleCumulativeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/DerivedLongCumulativeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/DoubleCumulativeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/LongCumulativeImpl.java
  impl_core/src/main/java/io/opencensus/implcore/metrics/MetricRegistryImpl.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/DerivedDoubleCumulativeImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/DerivedLongCumulativeImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/DoubleCumulativeImplTest.java
  impl_core/src/test/java/io/opencensus/implcore/metrics/LongCumulativeImplTest.java
Labels: cla: yes, metrics

#1865 Remove triage-me label from issue templates.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: cla: yes

#1866 Exporter/Stackdriver: Do create metric descriptor for custom metrics.
  exporters/stats/stackdriver/src/main/java/io/opencensus/exporter/stats/stackdriver/CreateMetricDescriptorExporter.java
  exporters/stats/stackdriver/src/test/java/io/opencensus/exporter/stats/stackdriver/CreateMetricDescriptorExporterTest.java
  exporters/trace/stackdriver/src/test/java/io/opencensus/exporter/trace/stackdriver/StackdriverTraceConfigurationTest.java
Labels: bug, cla: yes, exporters, metrics

#1867 Release: update snapshot version.
  api/src/main/java/io/opencensus/common/OpenCensusLibraryInformation.java
  build.gradle
  examples/build.gradle
  examples/pom.xml
  exporters/trace/ocagent/src/main/java/io/opencensus/exporter/trace/ocagent/OcAgentNodeUtils.java
Labels: cla: yes, release

#1869 Release: Updates release version and snapshot version.
  api/src/main/java/io/opencensus/common/OpenCensusLibraryInformation.java
  build.gradle
  examples/build.gradle
  examples/pom.xml
  exporters/trace/ocagent/src/main/java/io/opencensus/exporter/trace/ocagent/OcAgentNodeUtils.java
Labels: cla: yes
