Repository census-instrumentation/opencensus-java, pull requests merged in 2019-06, with the labels that each got.

#1925 Checker Framework: 2.8.1 -> 2.8.2
  build.gradle
  impl_core/src/main/java/io/opencensus/implcore/trace/export/SpanExporterImpl.java
Labels: cla: yes, static analysis

#1926 Recording http metrics at host level
  contrib/http_jaxrs/src/main/java/io/opencensus/contrib/http/jaxrs/JaxrsClientExtractor.java
  contrib/http_util/src/main/java/io/opencensus/contrib/http/HttpClientHandler.java
Labels: cla: yes, contrib, http, metrics

#1924 Provide an api to configure propagation for spring servlet and client
  contrib/spring/src/main/java/io/opencensus/contrib/spring/autoconfig/OpenCensusProperties.java
  contrib/spring/src/main/java/io/opencensus/contrib/spring/autoconfig/TraceWebAsyncClientAutoConfiguration.java
  contrib/spring/src/main/java/io/opencensus/contrib/spring/instrument/web/HttpServletFilter.java
  contrib/spring/src/main/java/io/opencensus/contrib/spring/instrument/web/client/TracingAsyncClientHttpRequestInterceptor.java
Labels: cla: yes, http

#1930 add dependency to .pom file instead of .jar file.
  build.gradle
Labels: build, cla: yes, contrib

#1928 Exporter/Jaeger: Set span status as tags.
  exporters/trace/jaeger/src/main/java/io/opencensus/exporter/trace/jaeger/JaegerExporterHandler.java
  exporters/trace/jaeger/src/test/java/io/opencensus/exporter/trace/jaeger/JaegerExporterHandlerIntegrationTest.java
  exporters/trace/jaeger/src/test/java/io/opencensus/exporter/trace/jaeger/JaegerExporterHandlerTest.java
Labels: cla: yes, exporters, tracing

#1932 Revert "maven package fails to compile due invalid .jar ext instead o…
  build.gradle
Labels: cla: yes

#1933 remove dependency on spring-cloud-build.
  contrib/spring/build.gradle
Labels: cla: yes

#1934 add spring starter package for opencensus spring integration.
  CHANGELOG.md
  all/build.gradle
  build.gradle
  contrib/spring_starter/README.md
  contrib/spring_starter/build.gradle
  contrib/spring_starter/src/main/resources/META-INF/spring.provides
  settings.gradle
Labels: cla: yes, contrib, http

#1931 Exporter/Zipkin: Add a note about status tags.
  exporters/trace/zipkin/src/main/java/io/opencensus/exporter/trace/zipkin/ZipkinExporterHandler.java
  exporters/trace/zipkin/src/test/java/io/opencensus/exporter/trace/zipkin/ZipkinExporterHandlerTest.java
Labels: cla: yes, exporters, tracing

#1935 Start 0.24.0 development cycle
  api/src/main/java/io/opencensus/common/OpenCensusLibraryInformation.java
  build.gradle
  examples/build.gradle
  examples/pom.xml
  exporters/trace/ocagent/src/main/java/io/opencensus/exporter/trace/ocagent/OcAgentNodeUtils.java
Labels: cla: yes, release

#1936 Release
  api/src/main/java/io/opencensus/common/OpenCensusLibraryInformation.java
  build.gradle
  examples/build.gradle
  examples/pom.xml
  exporters/trace/ocagent/src/main/java/io/opencensus/exporter/trace/ocagent/OcAgentNodeUtils.java
Labels: cla: yes, release

#1937 Update release versions for all readme and build files and CHANGELOG.
  CHANGELOG.md
  README.md
  contrib/appengine_standard_util/README.md
  contrib/dropwizard/README.md
  contrib/dropwizard5/README.md
  contrib/exemplar_util/README.md
  contrib/grpc_util/README.md
  contrib/http_jaxrs/README.md
  contrib/http_jetty_client/README.md
  contrib/http_servlet/README.md
  contrib/http_util/README.md
  contrib/log_correlation/log4j2/README.md
  contrib/log_correlation/stackdriver/README.md
  contrib/spring/README.md
  contrib/spring_sleuth_v1x/README.md
  contrib/zpages/README.md
  examples/build.gradle
  examples/pom.xml
  exporters/stats/prometheus/README.md
  exporters/stats/signalfx/README.md
  exporters/stats/stackdriver/README.md
  exporters/trace/datadog/README.md
  exporters/trace/elasticsearch/README.md
  exporters/trace/instana/README.md
  exporters/trace/jaeger/README.md
  exporters/trace/logging/README.md
  exporters/trace/ocagent/README.md
  exporters/trace/stackdriver/README.md
  exporters/trace/zipkin/README.md
Labels: cla: yes, release

#1938 Context: Remove CONTEXT_SPAN_KEY and TAG_CONTEXT_KEY from API.
  CHANGELOG.md
  api/src/main/java/io/opencensus/tags/unsafe/ContextUtils.java
  api/src/main/java/io/opencensus/trace/unsafe/ContextUtils.java
  build.gradle
  examples/build.gradle
  examples/pom.xml
Labels: API, cla: yes, context, gRPC

#1939 spring servlet example.
  buildscripts/import-control.xml
  buildscripts/travis_script
  examples/README.md
  examples/spring/servlet/.gitignore
  examples/spring/servlet/application.properties
  examples/spring/servlet/build.gradle
  examples/spring/servlet/gradle/wrapper/gradle-wrapper.jar
  examples/spring/servlet/gradle/wrapper/gradle-wrapper.properties
  examples/spring/servlet/gradlew
  examples/spring/servlet/gradlew.bat
  examples/spring/servlet/pom.xml
  examples/spring/servlet/settings.gradle
  examples/spring/servlet/src/main/java/io/opencensus/examples/spring/servlet/Application.java
  examples/spring/servlet/src/main/java/io/opencensus/examples/spring/servlet/ApplicationAutoConfiguration.java
  examples/spring/servlet/src/main/java/io/opencensus/examples/spring/servlet/HelloController.java
  examples/spring/servlet/src/resources/META-INF/spring.factories
  examples/spring/servlet/src/resources/application.properties
Labels: cla: yes, contrib, http

#1940 spring servlet example: make port configurable.
  examples/spring/servlet/src/main/java/io/opencensus/examples/spring/servlet/HelloController.java
Labels: cla: yes, contrib, http

#1942 Count metrics should have unit '1'.
  impl_core/src/main/java/io/opencensus/implcore/stats/MetricUtils.java
  impl_core/src/test/java/io/opencensus/implcore/stats/MetricUtilsTest.java
Labels: bug, cla: yes, metrics, stats

#1943 Resource: Add deployment label for k8s resource.
  contrib/resource_util/src/main/java/io/opencensus/contrib/resource/util/K8sResource.java
  contrib/resource_util/src/test/java/io/opencensus/contrib/resource/util/K8sResourceTest.java
Labels: cla: yes, contrib, resource

#1944 Removing AppEngine restriction on Java version.
  impl_core/src/main/java/io/opencensus/implcore/internal/DaemonThreadFactory.java
Labels: cla: yes
